.date-picker-container {
    display: flex;
    flex-direction: column;
    width: 348px;
    font-family: sans-serif;
    box-shadow: -3px 18px 28px 0px rgba(0, 0, 0, 0.22);
    border-radius: 5px 5px 5px 5px;

}

.picked-date-container {
    padding: 20px;
    background: #5354f5e6;
    color: #f9f7f7;


    .picked-date {
        padding-top: 28px;
        font-size: 32px;
    }
}

.week-days-name {
    padding: 20px;
    display: flex;
    justify-content: space-between;

    span {
        display: block;
        height: 25px;
        width: 25px;
        color: #858080;
        font-weight: 600;
        text-align: center;
    }



}

.months-year-selection {
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #858080;
}

.month-dates-conatiner {
    padding: 20px;
    display: flex;
    gap: 14px;
    /* justify-content: space-between; */
    flex-wrap: wrap;

    span {
        height: 32px;
        width: 32px;
        display: block;
        /* color: #858080; */
        font-weight: 600;
        cursor: pointer;
        border-radius: 50%;
        text-align: center;
        padding: 6px;
        box-sizing: border-box;
        /* background: rgb(213, 98, 98); */
    }
}

.date-number-color{
    color: #858080;
}
.date-number-color:hover {
    background-color: #e2dcdc;
} 

.selectedDate{
    background-color: #5354f5e6;
    color:#f9f7f7 ;
  }
 

.cancel-ok-container {
    padding: 20px;
    text-align: end;
    cursor: pointer;
}

.cancel {
    padding-right: 32px;
    cursor: pointer;
}